.carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 auto;
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }
  
  .slide.active {
    opacity: 1;
  }
  